.DerrickContainer {
    display: flex;
    justify-content: center;
}

.Derrick {
    width: 700px;
    height: auto;

}

h1 {
    margin-top: 60px;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: xx-large;
}

.DerrickDescription {
    margin-bottom: 20px;
    font-style: italic;
    padding-left: 40px;
    font-size: small;
}

.TopLinks {
    display: flex;
}

.TopLinks div {
    padding: 50px;
    border: 2px solid blue;
    font-weight: bold;
    flex: 1;
}

p {
    margin-left: 50px;
    text-indent: 45px;
    margin-right: 50px;
}

.TopLinks .Rankings{
    background: lightslategrey;
    background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/top-10-best-golden-podium-award-background-design-template-ee7293ab869115d9d5bbbdda42d21899_screen.jpg?ts=1627001469);
    background-size: contain;
    display: block;

    
}

.TopLinks a:hover{
   background-color: lightblue; 
}


.TopLinks .StartSits {

    background: lightblue;
    background-image: url(https://media.istockphoto.com/id/1263445363/vector/thumbs-up-and-thumb-down-icon-set-thumb-up-and-thumb-down-line-icons-flat-style-stock-vector.jpg?s=170667a&w=0&k=20&c=0XSAb2qZOhf6i97G5igSDEI8Fgdb2ZzA2pLkQZjTnyE=);
    background-size: contain;
}
.TopLinks .BestBets {

    background: pink;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Casino-gambling.svg);
    background-size: cover;
}

